* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#record {
  max-width: 500px;
  margin: 50px auto;
}

#speech-header {
  text-align: center;
  margin-bottom: 20px;
}

.headers {
  font-weight: 400;
  display: inline;
}

#results-container {
  display: inline;
  /*margin-left: 63px;*/
}

#results {
  font-weight: 300;
  margin-right: 12px;
}

.radio {
  margin-right: 10px;
  font-weight: 200;
}

.buttons-wrapper {
  text-align: center;
  width: 525px;
}

.hidden {
  display: none;
}

#transcription {
  display: block;
  width: 100%;
  height: 2em;
  overflow-y: scroll;
  border: 1px solid #333333;
  line-height: 1em;
  font-size: .8em;
  font-weight: 200;
  padding: 10px;
}

#log {
  display: block;
  width: 50%;
  height: 1.1em;
  overflow-y: scroll;
  border: none;
  line-height: 1em;
  font-size: 1em;
  font-weight: 300;
 /* margin-left: 190px;*/
  margin-left: 145px;
}

.button-demo {
  padding: 0.5em 2.5em;
  display: inline-block;
  margin: 10px 1em;
  border-radius: 8px;
  font-size: .8em;
  color: white;
  font-weight: 300;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  
}

#button-play-ws {
  border: 1px solid grey;
  /*background-color: #6AB038;*/
  background: #4eaf08; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #4eaf08 0%, #73ad47 48%, #50af0c 99%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #4eaf08 0%,#73ad47 48%,#50af0c 99%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #4eaf08 0%,#73ad47 48%,#50af0c 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#button-stop-ws {
  border: 1px solid rgb(200, 0, 0);
 /*background-color: red;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d10000+1,ff0000+48,db0000+100 */
  background: #d10000; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #d10000 1%, #ff0000 48%, #db0000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #d10000 1%,#ff0000 48%,#db0000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #d10000 1%,#ff0000 48%,#db0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#clear-all {
  border: 1px solid rgb(108, 165, 176);
  /*background-color: rgb(137, 211, 225);*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7fc6d1+0,89d3e1+51,86cdd8+100 */
  background: #7fc6d1; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #7fc6d1 0%, #89d3e1 51%, #86cdd8 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #7fc6d1 0%,#89d3e1 51%,#86cdd8 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #7fc6d1 0%,#89d3e1 51%,#86cdd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.button-demo:hover {
  cursor: pointer;
}

#button-play-ws:hover {
  background: #5B9630;
}

#button-stop-ws:hover {
  background:rgb(220, 0, 0);
}

#clear-all:hover {
  background: rgb(114, 175, 187);
}

#word-cloud {
  text-align: center;
}