* {
  margin: 0px; 
  padding: 0px; 
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.header {
  background-color: #383838; 
  height: 600px; 
  line-height: 425px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.header a h1 {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 40px; 
  font-weight: 700;
}

.header img {
  padding-top: 30px;
  max-height: 550px;
  vertical-align: middle;
}

.header a {
  text-decoration: none;
}

h2 {
  padding: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.info-box {
  margin-top: 60px;
}

.info-box h3 {
  font-family: 'Rubik', sans-serif;
  color: grey;
  vertical-align: middle;
  font-weight: 400;
  font-size: 20px;
}

.download-button-container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.download-button-container button {
  background-color:#6AB038;
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 300;
}

.download-button-container button a {
  text-decoration: none;
  color: white;
}

.download-button-container button:hover {
  background: #54892f;
}


#line-chart {
  max-width: 800px;
  display: inline;
}

.tooltip {
  position: absolute; 
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif; 
  background: lightsteelblue; 
  border: 0px; 
  border-radius: 8px; 
  pointer-events: none;
}

.bar-container {
  display: inline;
  max-width: 400px;
}

#bar-graph {
  max-width: 800px;
  display: inline;
}

#json-viewer {
  border: 1px solid black;
  width: 800px;
  height: 50px;
  text-align: center;
  overflow: scroll;
  font-size: .9em;
  font-weight: 200;
  margin: 10px auto;
  line-height: 50px;
}

.json-stats {
  margin-right: 15px;
  display: inline;
  vertical-align: middle;
}

.benefits-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:#383838;
  height: 450px;
  color: white;
  margin: 40px 0;
  padding-top: 125px;
}

.third {
  display: flex;
  width: 25%;
  height: 300px;
  /*border: 1px solid black;*/
  margin: 25px 3%;
  flex-direction: column;
  
}

.third img {
  text-align: center;
  height: 80px;
  width: 80px;
  margin: 10px auto;
}

.third h1 {
  margin: 20px 0 20px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.third h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: lightgrey;
  line-height: 28px;
  
}

.pitch-container {
  text-align: center;
  margin: 75px 0; 
}

.pitch-container h3 {
  
  text-align: center;
  margin: 30px 0 20px 0;
  font-size: 40px;
  line-height: 30px;
}

.pitch-container p {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0 24%;
  line-height: 40px;
}

.big-header {
  margin-top: 80px;
  font-size: 2.2em;
}

.line {
  width: 40%;
  margin: 40px auto;
}

#speech-header {
  color: rgb(41.2%, 41.2%, 41.2%);
  font-size: 1.8em;
  font-weight: bold;

}

#word-cloud {
  margin-left: -100px;
}

#charts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 200px 0;*/
}

.chart {
  /* border: 15px solid lightgrey;*/
  /*border: 15px solid rgb(41.2%, 41.2%, 41.2%);*/
  height: 500px;
  margin: 40px auto 100px auto;
  flex-basis: 40%; 
  /*box-shadow: 4px 4px 2px 2px rgba(192, 192, 192, 0.4);*/
}

.instructions-container {
  text-align: center;
  /*letter-spacing: 5px;*/
  background-color:#383838;
  height: 300px;
  color: white;

}

.instructions-container h3 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: .03px;
  padding-top: 130px;
}

.instructions-container a {
  color:grey;
}

.instructions-container a:hover {
  color: #6AB038;
}

.short-strip {
  height: 10px;
  width: 100%;
  margin-top: 300px;
  background-color: #D6D6D6;
}

#scatter-container {
  background-color: #EBEBEB;
  padding: 50px;
}

#bubbleForce {
  padding-bottom: 20px;
}

/*.vis-header-map {
  font-size: 2.5em;
  margin-bottom: 30px;
}*/

#map {
  margin-bottom: 75px;
}

.map-container {
  padding: 0px 50px 100px 50px;
}

#footer {
  background-color: rgb(41.2%, 41.2%, 41.2%); 
  height: 200px; 
  line-height: 125px;
  box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 200px;
}

#footer h4 {
  padding-top: 40px;
  vertical-align: middle;
  color: white;
  font-weight: 200;
  /*text-align: left;
  margin-left: 40px;*/
}
